{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <section class="admin">
<div class="row">
<div class="col">
</div>
<div class="col-md-10">
<h1>{{ player.pseudoPlayer }}</h1>
<h1><img src="{{ asset('uploads/images/' ~ player.imagePlayer) }}" width="500"></h1>
<h2>{{ player.firstNamePlayer }}</h2>
<h2>{{ player.lastNamePlayer }}</h2>
<h2>{{ player.rolePlayer }}</h2>
<h2>{{ player.datePlayer ? player.datePlayer|date('Y-m-d') : '' }}</h2>
<h2>{{ player.descriptionPlayer }}</h2>

</div>
<div class="col">
<a href="javascript:history.go(-1)"><i class="fas fa-reply"></i></a>
</div>
</div>
</section>
{% endblock %}
