{{ form_start(form) }}
    <section class="block">
    <table>
    <tr>
    <td>
        {{ form_row(form.titleArticle, {
            label: 'Titre'
        }) }}
    </td>
    </tr>
    <tr>
    <td>
        
        {{ form_row(form.descriptionArticle, {
            label: 'Description'
        }) }}
      </td>
    </tr>
    <tr>
    <td>

        {{ form_row(form.dateArticle, {
            label: 'Date'
        }) }}
</td>
    </tr>
    <tr>
    <td>
        {{ form_row(form.imageArticle, {
            label: 'Image'
        }) }}
</td>
    </tr>
    </table>
    <button class="btn"><a><i class="fas fa-check-circle"></i></a></button>
    </section>
{{ form_end(form) }}
