{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<section class="index container-fluid">
<h1>BOUTIQUE</h1>
    <ul class="nav nav-tabs">
    <li class="nav-item">
            <a class="nav-link {{ (page == 1) ? 'disabled' }}" href="?page=1">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ (page == 1) ? 'disabled' }}" href="?page={{ page - 1 }}">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        {% set totalPage = ((total / limit)|round(0, 'ceil')) %}
        {% for item in 1..totalPage  %}
        <li class="nav-item">
            <a class="nav-link {{ (page == item) ? 'active' : ''}}" href="?page={{item}}">{{item}}</a>
        </li>
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link {{ (page == totalPage ) ? 'disabled' }}" href="?page={{ page + 1 }}">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ (page == totalPage ) ? 'disabled' }}" href="?page={{totalPage}}">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>
    </ul>
<h3>filtre</h3>
<form id="filters">
{% for  category_product in  category_products %}
<p><input type="checkbox" name="category[]" id="category{{ category_product.id }}" value="{{ category_product.id }}">
<label for="category{{ category_product.id }}">{{ category_product.nameCategoryProduct }}</label></p>
{% endfor %}
</form>

{% block javascript %}
 <script src="{{ asset('js/filter.js')}}"></script>
{% endblock %}
        <section class"row">
        {% for product in products %}
            <h3>{{ product.categoryProduct.nameCategoryProduct }}</h3>
            <article class="col-md-4">
                <p>{{ product.nameProduct }}</p>
                <p><img src="{{ asset('uploads/images/' ~ product.imageProduct) }}" width="100"><p>
                <p>{{ product.descriptionProduct }}</p>
                <p>{{ product.priceProduct }}</p>
                <p>{{ product.stockProduct }}</p>
                <p><a href="{{path('cart_add', {'id':product.id}) }}">ajouter au panier <i class="fa fa-cart-plus" aria-hidden="true" ></i></a></p>
            </article>
        {% endfor %}
        <ul class="nav nav-tabs">
        {% for item in 1..((total / limit)|round(0, 'ceil')) %}
        <li class="nav-item">
            <a class="nav-link {{ (page == item) ? 'active' : ''}}" href="?page={{item}}">{{item}}</a>
        </li>
        {% endfor %}
        </ul>
        
        </section>
    

    {% endblock body %}