{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
   <section class="admin">
<div class="row">
<div class="col">
</div>
<div class="col-md-10">
<h1>{{ product.nameProduct }}</h1>
<h1><img src="{{ asset('uploads/images/' ~ product.imageProduct) }}" width="500"></h1>
<h1>{{ product.descriptionProduct }}</h1>
<h1>{{ product.priceProduct }}</h1>
<h1>{{ product.stockProduct }}</h1>
</div>
<div class="col">
<a href="javascript:history.go(-1)"><i class="fas fa-reply"></i></a>
</div>
</div>
</section>

{% endblock %}
